<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mikedg.android.glass.lock"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GlassTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="ScreenBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.google.glass.action.DON_STATE" />
            </intent-filter>
            <intent-filter android:priority="2000">
                <!-- Prevents normal, long press to Google -->
                <action android:name="com.google.glass.action.LONG_PRESS" />
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="com.google.glass.ACTION_GUEST_MODE" />
            </intent-filter>
        </receiver>

        <service android:name="LockService" >
        </service>

        <receiver android:name="BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>